doctype html
html(lang="en").h-100
  head
    title= Title
    link(rel="stylesheet" href=assetPath('main.css'))
    link(href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet")
    script.
      var gon = !{JSON.stringify(gon)};
  body.h-100    
    .container-fluid.h-100.p-0
      #chat.h-100

      // block content
    script(src=assetPath('main.js'))
