doctype html
html(lang="en").h-100
  head
    title= Title
    link(rel="stylesheet" href=assetPath('main.css'))
    script.
      var gon = !{JSON.stringify(gon)};
  body.h-100    
    .container-fluid.h-100
      #chat.h-100

      // block content
    script(src=assetPath('main.js'))
